<div class="search">
  <form #form="ngForm" (submit)="onSubmit()">
    <input #inp type="text" name="city" [(ngModel)]="location" placeholder="Search city" />
  </form>
</div>

<div *ngIf="weatherData" class="container">
  <div class="upper-data">
    <ng-container
      *ngIf="weatherData.current.temp_f | fahrenheitToCelsius as temperature"
    >
      <img
        src="../assets/sunset.jpg"
        alt="hot-image"
        *ngIf="temperature > 15"
      />
      <img
        src="../assets/cold.jpg"
        alt="cold-image"
        *ngIf="temperature <= 15"
      />
    </ng-container>
    <div class="weather-data">
      <div class="location">{{ weatherData.location.name }}</div>
      <div class="country">{{ weatherData.location.country }}</div>
      <div class="temperature">
        {{
          weatherData.current.temp_f | fahrenheitToCelsius | number : "1.0-0"
        }}°C
      </div>
    </div>
  </div>
  <div class="lower-data">
    <div class="more-info-label">{{ weatherData.current.condition.text }}</div>
    <div class="more-info-container">
      <div class="info-block">
        <div class="info-block-label">
          <img src="../assets/max.jpg" alt="temp" />
          <span>Temperature</span>
        </div>
        <div class="info-block-value">{{ weatherData.current.temp_c }} °C</div>
      </div>
      <div class="info-block">
        <div class="info-block-label">
          <img src="../assets/mb.jpg" alt="min temp" />
          <span>Pressure</span>
        </div>
        <div class="info-block-value">
          {{ weatherData.current.pressure_mb }} mb
        </div>
      </div>
      <div class="info-block">
        <div class="info-block-label">
          <img src="../assets/humidity.png" alt="min temp" />
          <span>humidity</span>
        </div>
        <div class="info-block-value">{{ weatherData.current.humidity }}%</div>
      </div>
      <div class="info-block">
        <div class="info-block-label">
          <img src="../assets/wind.jpg" alt="wind" />
          <span>Wind</span>
        </div>
        <div class="info-block-value">
          {{ weatherData.current.wind_kph }} km/h
        </div>
      </div>
    </div>
  </div>
</div>
<router-outlet></router-outlet>
